API_KEY=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''

MINIO_ENDPOINT=''
MINIO_ACCESS_KEY=''
MINIO_SECRET_KEY=''
BUCKET=''
LOCAL_DIR=''

SNOWFLAKE_USER=''
SNOWFLAKE_PASSWORD=''
SNOWFLAKE_ACCOUNT=''
SNOWFLAKE_WAREHOUSE=''
SNOWFLAKE_DB=''
SNOWFLAKE_SCHEMA=''